<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>悬浮窗口组件</title>
    <Link Rel="SHORTCUT ICON" href="../../static/images/logo_white.png">
    <link rel="stylesheet" href="../../static/framework/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/framework/FontIcon/iconfont.css">
    <link rel="stylesheet" href="../../static/css/framework-public.css">
    <link rel="stylesheet" href="../../static/framework/web-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/framework/discreteness-resources/css/discreteness.css">
    <style>
        body{background: rgba(0,0,0,0.5)}
        /*多选框按钮样式*/


    </style>
</head>
<body>

<p>窗体公共样式</p>
<!--窗体公共样式 开始-->
<div class="floatbox roleinfo-box">
    <div class="left-block-blue"></div>
    <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="title">
        系统管理员的资源信息
    </div>
    <hr class="splitline" />

        ...

    <hr class="splitline" />
    <div class="footbar">
        <button class="btn-base confirm">确认</button>
        <button  class="btn-base cancel">取消</button>
    </div>
</div>
<!--窗体公共样式 结束-->
<br/>
<div class="floatbox resources-list-box">
    <div class="left-block-blue"></div>
    <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="title">
        系统管理员的资源信息
    </div>
    <div class="sourcetree">
        <ul>
            <li> <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>访问系统</p>
                <ul>
                    <li>
                        <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>系统管理 <i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check hover-check" aria-hidden="true"></i></p>
                        <ul>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>权限管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>资源管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>机构管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>用户管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-end.png" /><i class="fa fa-square-o"></i>系统管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li> <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>访问系统</p>
                <ul>
                    <li>
                        <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>系统管理 <i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check hover-check" aria-hidden="true"></i></p>
                        <ul>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>权限管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>资源管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>机构管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>用户管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-end.png" /><i class="fa fa-square-o"></i>系统管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li> <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>访问系统</p>
                <ul>
                    <li>
                        <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>系统管理 <i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check hover-check" aria-hidden="true"></i></p>
                        <ul>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>权限管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>资源管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>机构管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>用户管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-end.png" /><i class="fa fa-square-o"></i>系统管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li> <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>访问系统</p>
                <ul>
                    <li>
                        <p><i class="fa fa-minus-square-o" aria-hidden="true"></i>系统管理 <i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check hover-check" aria-hidden="true"></i></p>
                        <ul>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>权限管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>资源管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>机构管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-center.png" /><i class="fa fa-square-o"></i>用户管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                            <li> <p><img src="../../static/framework/discreteness-resources/images/sourcetree-li-icon-end.png" /><i class="fa fa-square-o"></i>系统管理<i class="fa fa-check hover-check" aria-hidden="true"></i></p></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li> <p><i class="fa fa-plus-square-o" aria-hidden="true"></i>访问系统</p></li>
            <li> <p><i class="fa fa-plus-square-o" aria-hidden="true"></i>访问系统</p></li>

        </ul>
    </div>
    <div class="footbar">
        <button class="btn-base confirm">确认</button>
        <button  class="btn-base cancel">取消</button>
    </div>
</div>
<br />
<div class="floatbox roleinfo-box">
    <div class="left-block-blue"></div>
    <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="title">
        系统管理员的资源信息
    </div>
    <hr class="splitline" />
    <form>
        <div class="input-box">
            <label>权限名称：</label>
            <div>
                <input class="form-input" type="text"  placeholder="请输入权限名称">
            </div>
        </div>

        <div class="input-box">
            <label>权限编码：</label>
            <div>
                <input class="form-input" type="text"  placeholder="请输入权限编码">
            </div>
        </div>

        <div class="input-box">
            <label>认证类型：</label>
            <div>
                <input class="form-input" type="text"  placeholder="请输入认证类型">
            </div>
        </div>

        <div class="input-box">
            <label>认证规则：</label>
            <div>
                <input class="form-input" type="text"  placeholder="请输入认证规则">
            </div>
        </div>

        <div class="footbar">
            <button class="btn-base confirm">确认</button>
            <button  class="btn-base cancel">取消</button>
        </div>

    </form>

</div>

<!--多选框样式-->
<form>
    <label>
        <i class="fa fa-square-o" aria-hidden="true"></i>
        <input type="checkbox" onchange="alert(this.checked)" />
    </label>
</form>



<label class="square-btn">
    <i class="fa fa-square-o" aria-hidden="true"></i>
    <input type="checkbox" onchange="checkboxChange(this)" />
</label>

<button class="square-btn-all" type="button" onclick="allCheckboxChange(this)" ><i class="fa fa-square-o" aria-hidden="true"></i></button>




</body>
</html>